body{
    margin: 0;
    text-align: center;
}

.screen.container{
    background-image: url(bg1.jpg);
    height: 100vh;
    width: 100vw;
    background-position: center;
    background-size: cover;
    justify-content: center;
    display: flex;
    align-items: center;
}

.login.box{
    background-color: rgba(172, 255, 47, 0.459);
    height: 70%;
    width: 30px;
    min-width: 400px;
    max-width: 600px;
}

.login.title{
    text-align: center;
    color: white;
    font-size: 2.5em;
    font-weight: light;
    font-style: italic;

}

.word{
    display: flex;
    flex-direction: column;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 15px;
}


.word label{
    color: black;
}

.button{
    font-size: 30px;
    font-weight: bold;
    width: 150px;
    border-radius: 10px;
}

.button:hover{
    color: green;
    transform: scale(0.5);
    transition: 0.9s;

}

.stuffs{
    width: 300px;
    border-radius: 10px;
    height: 30px;
}