*{
    margin: 0;
    padding: 0;
    background: sandybrown;
    font-size: 75px;
    max-width: 100%;
}

.container{
display: flex;
justify-content: center;
letter-spacing: 30px;
}

.a{
    color: red;
}

.b{
    color: black;
}

.c{
    color: white;
}

.d{
    color:  tomato;
}

.e{
    color: plum;
}

.f{
    color: yellow;
}